// Left homerow mod
hm_l: hm_l {
    compatible = "zmk,behavior-hold-tap";
    bindings = <&kp>, <&kp>;
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_R THUMBS_R>;
};

// Right homerow mod
hm_r: hm_r {
    compatible = "zmk,behavior-hold-tap";
    bindings = <&kp>, <&kp>;
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    hold-trigger-key-positions = <KEYS_L THUMBS_L>;
};

// When pressed the LALT will trigger the "ñ"
n_mm: n_mod_morph {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp N>, <&kp RA(N)>;
    mods = <(MOD_LALT)>;
};

// When pressed the LALT will trigger the "ç"
c_mm: c_mod_morph {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp C>, <&kp RA(COMMA)>;
    mods = <(MOD_LALT)>;
};

// Outputs backspace key or when holding SHIFT will
// output the delete key
bspc_del: backspace_delete {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp BACKSPACE>, <&kp DELETE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
};

// Outputs space key or when holding SHIFT will
// output the tab key
sp_tab: space_tab {
    compatible = "zmk,behavior-mod-morph";
    #binding-cells = <0>;
    bindings = <&kp SPACE>, <&kp TAB>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
};
